SIRIUS_RUNNER_IMAGE="ghcr.io/organisation/sirius-runner:0.1.0"
PINATA_GATEWAY="https://gateway.pinata.cloud"
PINATA_JWT=""
RUNNER_TRANSPORT_SECRET=""
SIRIUS_APP_ORIGIN="https://app.example.com"
XRPL_AUDIT_SIGNER_SEED=""
XRPL_ENDPOINT="wss://s.altnet.rippletest.net:51233"
XRPL_NETWORK="testnet"
XRPL_SETTLEMENT_SEED=""
